@model MvcSampleApp.Models.GenreViewModel

@{
    ViewBag.Title = "Delete Genre";
}

<h2>Delete Genre</h2>

@using (Html.BeginForm("DeleteGenre", "Genres", FormMethod.Post))
{
    
    @Html.HiddenFor(m => m.GenreId)
    
    <div>
        @Html.LabelFor(m => m.Name)
        @Html.DisplayFor(m => m.Name)
        @Html.HiddenFor(m => m.Name)
    </div>
    <div>
        @Html.LabelFor(m => m.Description)
        @Html.DisplayFor(m => m.Description)
        @Html.HiddenFor(m => m.Description)
    </div>
    
    <p>
        Confirm delete? <input type="submit" value="yes"/>
    </p>
}

