@model System.Collections.Generic.IEnumerable<MvcSampleApp.Core.Models.Genre>

@{
    ViewBag.Title = "Genres";
}

<h2>Genres</h2>
@*<div>
    @Html.ActionLink("Artist", "Index", "Artists")
</div>*@

@Html.ActionLink("New Genre", "New")

<table style="width:100%">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var genre in Model)
        {
            <tr>
                <td>@genre.Name</td>
                <td>@genre.Description</td>
                <td>@Html.ActionLink("Update", "Update", new { genreId = @genre.GenreId})</td>
                <td><a href="#" onclick="deleteGenre(@genre.GenreId);">Delete</a></td>
            </tr>
        }
    </tbody>
</table>

<div id="deleteDialog">
    <p>Confirm delete?</p>
</div>

<script type="text/javascript">
    
    function deleteGenre(genreId) {

       
        $("#deleteDialog").dialog({        
            buttons: [
                {text: "Ok",
                click: function() {

                    $.post("/genres/DeleteGenre", { genreId: genreId }, function() { $(this).close(); });
                }
                }
            ],
            close: function () {$(this).remove()}
        });
    }


</script>